<div>
    <h2 id="page-heading">
        <span jhiTranslate="caixaudvApp.itemCompra.home.title">Item Compras</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item-compra" [routerLink]="['/item-compra/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="caixaudvApp.itemCompra.home.createLabel">
            Create new Item Compra
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="itemCompras">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="caixaudvApp.itemCompra.quant">Quant</span></th>
            <th><span jhiTranslate="caixaudvApp.itemCompra.produto">Produto</span></th>
            <th><span jhiTranslate="caixaudvApp.itemCompra.compra">Compra</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let itemCompra of itemCompras ;trackBy: trackId">
                <td><a [routerLink]="['/item-compra', itemCompra.id, 'view' ]">{{itemCompra.id}}</a></td>
                <td>{{itemCompra.quant}}</td>
                <td>
                    <div *ngIf="itemCompra.produto">
                        <a [routerLink]="['../produto', itemCompra.produto?.id, 'view' ]" >{{itemCompra.produto?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="itemCompra.compra">
                        <a [routerLink]="['../compra', itemCompra.compra?.id, 'view' ]" >{{itemCompra.compra?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/item-compra', itemCompra.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/item-compra', itemCompra.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'item-compra', { outlets: { popup: itemCompra.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
